<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="apiUtilities.ExtentReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/Kursevi/REST Assured/Petstore/src/test/java/apiTest">
        <classes>
            <class name="apiTest.PetTest">
                <methods>
                    <include name="testPostPet"/>
                    <include name="getPetById"/>
                    <include name="updatePetByName"/>
                    <include name="deletePetById"/>
                </methods>
            </class>
            <class name="apiTest.StoreTest">
                <methods>
                    <include name="testPostOrder"/>
                    <include name="getOrderById"/>
                    <include name="deleteOrderById"/>
                </methods>
            </class>
            <class name="apiTest.UserTest">
                <methods>
                    <include name="testPostUser"/>
                    <include name="getUserByName"/>
                    <include name="updateUserByName"/>
                    <include name="deleteUserByName"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>